<div class="container" style="margin-top:10vh;">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Modificar Animes</h4>

        </div>
        <div class="col-8">

            <form method="post" action="/admin/anime/modificacion/{{anime.id}}" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="nombre" >Nombre</label>
                    <input value = "{{anime.nombre}}" type="text" name="nombre" id="nombre" class="form-control">
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea class="form-control" id="descripcion" name="descripcion">{{anime.descripcion}}</textarea>
                </div>

                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" name="id_categoria">
                        <option value="0" selected disabled>Seleccioná la categoria</option>
                        {{#each categorias}}
                        <option value="{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>

                </div>
                <div class="form-group">
                    <input type="file" class="form-control" name="imagen">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Alta de anime</button>
                <span class="text-success">{{message}}</span>
            </form>
        </div>

    </div>
</div>