    <section class="" style="margin-top:10em;">
      <div class="container">
        <div class="row">

            <div class="col-8">
                <img src="/{{anime.imagen}}" style="width:80%; height:auto;">
            </div>
            <div class="col-4 mt-5">
                <h2>{{anime.nombre}}</h2>
                <input type="number" name="puntajeTotal" id="puntajeTotal" class="rating" value={{anime.puntaje}} data-clearableIcon="" data-readonly=true/>
                <div class="container">
                <p>{{anime.descripcion}}</p>
                
                
            </div>

        </div>
      </div>
    </section> <!-- .section -->
    <div class="container" style="margin-top:10em">
<div class="row bootstrap snippets">
    <div class="col-12">
        <form method="post" action="/animes/{{anime.id}}/comentario">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <input type="number" name="puntaje" id="puntaje" class="rating" data-clearableIcon=""/>
                    <textarea class="form-control" name = "comentario" placeholder="Escribe tu reseña aqui..." rows="3"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary ">Post</button>
                    </form>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="row">
                    <div class="col-12">
                      {{#each comentarios}}
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ts_create}}</small>
                                </span>
                                <strong class="text-success">{{id_usuario}}</strong>
                                <p>{{comentario}}</p>
                            </div>
                        </li>
                    </ul>
                    {{/each}}
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
